@use 'sass:map';
@import 'bootstrap_custom.scss';
@import 'colors.scss';

.light-theme {
  color: map.get($greys, 'dark');
  background-color: map.get($whites, 'light');
}

.dark-theme {
  color: map.get($whites, 'med');
  background-color: map.get($greys, 'med');
}

.my_navbar {
  padding: $spacer;
  min-height: 10vh;
  display: flex;
  position: sticky;
  z-index: 2;
  top: 0;
  align-items: center;
  background-color: map.get($greys, 'dark');
}

.navlink {
  margin-left: $spacer;
  margin-right: $spacer;
  height: 100%;
  color: map.get($whites, 'med');
  font-weight: bold;
  &:hover {
    color: $dark-lavender !important;
  }
}

.active-navlink {
  color: $lavender;
  .animated-border {
    height: 2px;
    background-color: $lavender;
    animation: grow 0.5s ease-out;
  }
}

@keyframes grow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.content {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.content .core {
  flex: 2;
}

.footer {
  background-color: $lavender;
  min-height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  & * {
    margin-left: 0.25 * $spacer;
    margin-right: 0.25 * $spacer;
  }
}

.tag {
  padding: 4px 8px 4px 8px;
  margin: 4px 8px 4px 0px;
  border-radius: 5px;
  background-color: #d7d0ff;
  color: #333435;
}

.experience-item {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  margin-bottom: $spacer;
  margin-top: $spacer;
  padding: 2 * $spacer;
  background-color: map.get($whites, 'med-light');
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $spacer;
    border-bottom: 2px solid $dark-lavender;
  }
  border-radius: 5px;
}

.dark-theme {
  .experience-item {
    background-color: map.get($greys, 'light');
  }
}

.project-item {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  margin: $spacer;
  padding: 2 * $spacer;
  max-width: 500px;
  background-color: map.get($whites, 'med-light');
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $spacer;
    border-bottom: 2px solid $dark-lavender;
    padding: 0.5 * $spacer;
  }
  border-radius: 5px;
}

.dark-theme {
  .project-item {
    background-color: map.get($greys, 'light');
  }
}

.react-toggle--checked .react-toggle-track {
  background-color: $dark-lavender !important;
}

.react-toggle-thumb {
  background-color: $lavender !important;
}

#banner {
  animation-name: slide-in, fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes slide-in {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@for $i from 1 through 8 {
  .delay-animation-#{$i} {
    animation-delay: #{0.25 * $i}s;
  }
}
