$lavender: #d7d0ff;
$dark-lavender: #a3a0cc;

$greys: (
  'dark': rgb(24, 25, 26),
  'med': rgb(36, 37, 38),
  'light': rgb(48, 49, 50),
);
$whites: (
  'med': rgb(220, 221, 222),
  'med-light': #f2f3f4,
  'light': #f7f8f9,
);
