.my_navbar {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.content .core {
  flex: 2;
}

.footer {
  min-height: 6vh;
  display: flex;
  justify-content: space-around;
}

.state {
  padding: 2px 4px 2px 4px;
  border-radius: 5px;
  background-color: #d7d0ff;
  color: #333435;
}

.tag {
  padding: 4px 8px 4px 8px;
  margin: 4px 8px 4px 0px;
  border-radius: 5px;
  background-color: #d7d0ff;
  color: #333435;
}
